
{% extends 'main.html' %}
{% block content %}

<style>
    .room-container{
        display: flex;
    }
    .room{
        flex-basis: 70%;
    }
    .participants{
        flex-basis: 30%;
    }
</style>

<div class="room-container" > 
    <div class="room" >
        <h1>{{room.name}}</h1>

        <p> {{room.description}} </p>

        <div class="comment-wrapper" >
            <h3>conversation</h3>
            <hr>
            {% for message in room_messages %}
                 {% if request.user == message.user %}
                 
                <a href="{% url 'delete-message' message.id %}">Delete</a>

                {% endif%}

                <small>  @{{message.user}} {{message.created|timesince}} ago    </small>
                <p> {{message.body}} </p>
                <hr>
            {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form action="" method="post">
                {% csrf_token %}

                <input type="text" name="body" placeholder="write your message here..." >

            </form>
        </div>

    </div>


    <div class="participants">
        <h3>participants</h3>
        <hr>

        {% for participant in participants %}
            <div> <h4> @{{participant}} </h4> </div>
        {% endfor%}


    </div>


</div>

{% endif %}
{% endblock  %}